{% extends "common/layout.html" %}
{% load static %}

{% block body %}
    {% include 'components/common/confirmation_modal.html' %}
    {% include 'components/common/messages.html' %}
    
    <div id="main-container">
        <h1>Evaluaciones</h1>

        <form id="addAssessmentForm" action="{% url 'assessment_add' %}" method="POST">
            {% csrf_token %}
            <input id="addAssessmentFormNameInput" style="margin-right: 4px;" type="text" name="name" placeholder="Nombre" autofocus>
            <button class="common-button" type="submit">Crear</button>
            <span id="addAssessmentFormNameError" class="common-text" style="display:none;"></span>
        </form>

        <br>
        <hr>
        {% if not assessments %}
            <p class="common-text">No hay evaluaciones aún</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th style="width: 5%;">No.</th>
                    <th style="width: 40%;">Nombre</th>
                    <th style="width: 15%;">Fecha Creación</th>
                    <th style="width: 15%;">Vinculos</th>
                    <th style="width: 15%;">Acciones Evaluación</th>
                </tr>
            </thead>
            <tbody>
                {% for assessment in assessments %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ assessment.name }}</td>
                        <td>{{ assessment.creationDate|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a class="common-button" href="{% url 'questions_view' assessment_id=assessment.id %}">Preguntas</a>
                            <a class="common-button" href="{% url 'questions_view' assessment_id=assessment.id %}">Sesiones</a>
                        </td>
                        <td>
                            <button class="common-button" onclick="handleDeleteAssessment({{ assessment.id }})"
                                {% if not assessment.editable %}
                                    disabled
                                {% endif %}
                            >Eliminar</button>
                            <form id="deleteForm_{{ assessment.id }}" action="{% url 'assessment_remove' %}" method="POST" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ assessment.id }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <script>
        function handleDeleteAssessment(assessmentId) {
            showConfirmationModal('¿Está seguro de eliminar esta evaluación?', function() {
                const form = document.getElementById('deleteForm_' + assessmentId);

                if (form) {
                    form.submit();
                }
            });

            document.getElementById('confirmBtn').focus();
        }

        document.getElementById('addAssessmentForm').addEventListener('submit', function(event) {
            var addAssessmentFormNameInput = document.getElementById('addAssessmentFormNameInput');
            var addAssessmentFormNameError = document.getElementById('addAssessmentFormNameError');
            
            if (addAssessmentFormNameInput.value.length > 80) {
                event.preventDefault();
                addAssessmentFormNameError.innerHTML = 'El nombre no puede exceder los 100 caracteres';
                addAssessmentFormNameError.style.display = 'block';
            } else if (addAssessmentFormNameInput.value.length == 0) {
                event.preventDefault();
                addAssessmentFormNameError.innerHTML = 'El nombre no puede estar vacío';
                addAssessmentFormNameError.style.display = 'block';
            } else {
                addAssessmentFormNameError.style.display = 'none';
            }
        });
    </script>
{% endblock %}
